<?xml version="1.0" encoding="utf-8"?>

<launch>
    <!-- ROS and network parameter files -->
    <arg name="network_param_file" default="$(find tkDNN_ros)/config/tkdnn.yaml"/>

    <!-- Load parameters -->
    <rosparam command="load" file="$(arg network_param_file)"/>

    <node pkg="tkDNN_ros" name="tkDNN_ros" type="tkDNN_ros" respawn="true" output="screen">
    </node>
</launch>
